@define-color selected-text #00D4FF;
@define-color text #E8E8E8;
@define-color base #000000;
@define-color border #00D4FF;
@define-color foreground #E8E8E8;
@define-color background #000000;

* {
  text-shadow: none;
  -gtk-icon-shadow: none;
}
