@define-color selected-text #008BAD;
@define-color text #000000;
@define-color base #FFFFFF;
@define-color border #008BAD;
@define-color foreground #000000;
@define-color background #FFFFFF;

* {
  text-shadow: none;
  -gtk-icon-shadow: none;
}
